span.req {
    display: none !important;
}

#Field1, #Field2 {
    width: 100%;
}

input.field {
    box-shadow: none !important;
    resize: none !important;
}

label.desc {
    font-size: 125% !important;
    font-family: 'Assistant', sans-serif !important;
}

input#saveForm {
    border-radius: 12px !important;
    background-color: dodgerblue !important;
    padding: 8px 18px !important;
}