span.req {
    display: none !important;
}

#Field1, #Field2 {
    width: 100%;
}

input.field {
    box-shadow: none !important;
    resize: none !important;
    border-color: #dedede !important;
}

label.desc {
    font-size: 125% !important;
    font-family: 'Assistant', sans-serif !important;
    font-weight: 400 !important;
}

input#saveForm {
    background-image: url("https://dabuttonfactory.com/button.png?t=Submit&f=Calibri&ts=18&tc=fff&hp=15&vp=8&c=0&bgt=unicolored&bgc=2ac5ee");
    background-repeat: no-repeat !important;
    font-size: 0px !important;
    border: none !important;
    width: 79px !important;
    height: 34px !important;
    opacity: 100% !important;
    /* border-radius: 12px !important;
    background-color: #2ac5ee !important;
    padding: 8px 18px !important;
    color: white !important;
    box-shadow: none !important; */
}

textarea#Field4 {
    resize: none !important;
}